<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141123971544-krm49o62icnc1kmauep722fdbbc6ueqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141123971544-krm49o62icnc1kmauep722fdbbc6ueqs</string>
	<key>API_KEY</key>
	<string>AIzaSyCF5AwwosmBNQFGxGhWmErrMA16jVqqU9I</string>
	<key>GCM_SENDER_ID</key>
	<string>141123971544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gilumn</string>
	<key>PROJECT_ID</key>
	<string>gilumn</string>
	<key>STORAGE_BUCKET</key>
	<string>gilumn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141123971544:ios:906012591cbc69c3b3eaad</string>
</dict>
</plist>